<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= post.title %>
    </title>
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body
    onload="document.querySelector('.post-container').style.opacity = 1; document.querySelector('.loader').style.display = 'none';">
    <div class="loader"></div>

    <div class="post-container">
        <label class="dark-mode-toggle">
            <input type="checkbox" onchange="toggleDarkMode()">
            <span class="slider"></span>
        </label>
        <h1>
            <%= post.title %>
        </h1>
        <p><strong>Topic:</strong>
            <%= post.topic %>
        </p>
        <p><strong>Content:</strong>
            <%= post.content %>
        </p>
        <p>
            <%= post.secondParagraph %>
        </p>
        <p>
            <%= post.thirdParagraph %>
        </p>
        <p><strong>Points:</strong>
            <%= post.bulletPoints %>
        </p>
        <p><strong>Summary:</strong>
            <%= post.summary %>
        </p>
        <p><strong>Author:</strong>
            <%= post.name %>
        </p>
        <p><strong>Email:</strong>
            <%= post.userEmail %>
        </p>
        <p><strong>Created At:</strong>
            <%= post.createdAt.toLocaleString() %>
        </p>
        <a href="/">Back to Home</a>
    </div>

    <script>
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
            document.querySelector('.post-container').classList.toggle('dark-mode');
        }
    </script>
</body>

</html>