<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <h1>Profile</h1>

        <% if (user) { %>
            <p>Username: <%= user.username %>
            </p>
            <p>Email: <%= user.email %>
            </p>
            <% } else { %>
                <p>User not found. Please log in.</p>
                <% } %>

                    <h2>Your Posts</h2>
                    <% if (posts.length> 0) { %>
                        <ul>
                            <% posts.forEach(post=> { %>
                                <li>
                                    <h3>
                                        <%= post.title %>
                                    </h3>
                                    <p>
                                        <%= post.content.substring(0, 100) %>...
                                    </p>
                                    <form action="/delete/<%= post._id %>" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </li>
                                <% }) %>
                        </ul>
                        <% } else { %>
                            <p>No posts found.</p>
                            <% } %>

                                <a href="/" class="btn-home">Back to Home</a>
    </div>
</body>

</html>